.git
.github
.terraform
bootstrap
terraform
docs
docker-compose.yml
Makefile
*.md

app/.env
app/.env.*
!app/.env.example
app/vendor/
app/node_modules/
app/tests/
app/storage/logs/*
app/storage/framework/cache/*
app/storage/framework/sessions/*
app/storage/framework/views/*
app/.phpunit.result.cache
app/.envrc
app/.editorconfig
app/.npmrc
app/vite.config.js
app/package.json
app/resources/
**/*.md
